* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(236, 233, 230);
    background: linear-gradient(90deg, rgba(236, 233, 230, 1) 43%, rgba(255, 255, 255, 1) 86%);
}

.nav-style {
    height: 40vh;
    width: 100%;
    background-color: #FCBF49;
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 12%;
}

.logo {
    position: absolute;
    left: 42.56%;
    right: 45.44%;
    top: 4%;
    bottom: 40.37%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 65px;
}

.logo-1 {
    position: absolute;
    left: 42.56%;
    right: 45.44%;
    top: 9.37%;
    bottom: 0%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 65px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px 35px;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: white;
    transition: .2s;
}

.featured-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -55px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: white; */
}

.feature-1 {
    /* border: 3px solid black; */
    /* background-color: red; */
    width: 50%;
    margin: 10px;
    margin-left: -50px;
}

.f-1-1 {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    color: #BC6C25;
}

.f-1-2 {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    color: #F95738;
}

.f-1-3 {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    color: #333D29;
}

.f-1-4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

.f-1-btn1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130px;
    background-color: #F4D35E;
    width: 160px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.f-1-btn1:hover,
.f-1-btn1:focus,
.f-1-btn1:active {
    box-shadow: 0px 8px 8px rgba(142, 110, 37, 0.895);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.f-1-btn2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130px;
    background-color: #F4D35E;
    margin-left: 50px;
    width: 160px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.f-1-btn2:hover,
.f-1-btn2:focus,
.f-1-btn2:active {
    box-shadow: 0px 8px 8px rgba(142, 110, 37, 0.895);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.feature-2 {
    /* border: 3px solid black; */
    /* background-color: red; */
    width: 500px;
    margin: 10px;
}

.circle-2 {
    width: 630px;
    height: 603px;
    margin-top: -120px;
    Left: 63px;
    background-color: #EE9B00;
    border-radius: 200%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.f-2-img {
    width: 643px;
    height: 644px;
    margin-top: -620px;
}

#avatar {
    border: 5px solid #e7d180dd;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 200%;
}

.featured-container-foods {
    position: relative;
    /* background-color: pink; */
    left: 0%;
}

.featured-header {
    text-align: center;
    margin-top: 45px;
}

.fh-txt1 {
    font-family: 'Satisfy';
    font-size: 78px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: #582F0E;
    font-weight: 100;
}

.fh-txt2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 680;
    text-decoration: none;
    color: #582F0E;
    margin-top: -9px;
    margin-bottom: 20px;
}

.featured-container2 {
    background-color: #D6CE93;
    position: absolute;
    width: 1519px;
    height: 1319px;
    top: 822px;
}

.featured-food {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.featured-food-box {
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 5px;
    width: 254px;
    height: 364px;
    background-color: #3F4238;
}

.food-img {
    width: 254px;
}

.featured-food-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 280;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.featured-food-desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 8px;
    font-style: normal;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.food-view {
    display: absolute;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FCBF49;
    align-self: right;
    text-decoration: overline;
    margin-top: 10px;
    margin-bottom: 5px;
}

.featured-food-desc {
    display: absolute;
    left: -50%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 280;
    text-decoration: none;
    color: white;
    align-self: flex-end;
}

.catering-food-img {
    position: absolute;
    left: 55.73%;
    top: 53%;
    width: 430px;
    height: 550px;
}

.ct-htxt-box {
    width: 627px;
    margin-top: 88px;
    position: absolute;
    left: 15%;
}

.ct-htxt {
    font-family: 'Satisfy';
    font-size: 78px;
    font-style: normal;
    line-height: 73px;
    text-decoration: none;
    text-align: center;
    color: #582F0E;
    font-weight: 100;
}

.ct-stxt {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 680;
    text-decoration: none;
    color: #582F0E;
    margin-top: -9px;
    margin-bottom: 20px;
}

.ct-stxt-box {
    width: 427px;
    margin-top: 280px;
    position: absolute;
    left: 20%;
}

.ct-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 130px; */
    background-color: #F4D35E;
    width: 130px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 480px;
    position: absolute;
    left: 20%;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.ct-btn:hover,
.ct-btn:focus,
.ct-btn:active {
    box-shadow: 0px 8px 8px rgba(142, 110, 37, 0.895);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}