* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(214, 206, 147);
    background: linear-gradient(90deg, rgba(214, 206, 147, 1) 55%, rgba(255, 255, 255, 1) 90%);
}

.arrow-style {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 70px;
    top: 56px;
    font-size: 30px;
    color: black;
}

.cart-style {
    position: absolute;
    /* width: 53px;
    height: 51px; */
    font-size: 30px;
    top: 56px;
    right: 56px;
    color: black;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 185px;
    height: 435px;
    margin-top: 95px;
    margin-left: 35px;
    /* background-color: aliceblue; */
}

.menu-contents {
    display: flex;
    flex-direction: column;
}

.menu-title {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 60px;
    background-color: #FCBF49;
}

.category-name {
    font-family: 'Satisfy';
    /* font-family: 'Forum', cursive; */
    width: 185px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;
    color: black;
}

.food-display-container {
    border: solid 3px #EE9B00;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    position: absolute;
    width: 1127px;
    max-width: 100%;
    margin: 0 auto;
    /* height: 832px; */
    left: 256px;
    top: 65px;
    /* transform: rotate(-1deg); */
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.food-display-container-view {
    border: solid 3px #EE9B00;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    position: absolute;
    width: 1127px;
    max-width: 100%;
    margin: 0 auto;
    /* height: 832px; */
    left: 236px;
    top: 165px;
    /* transform: rotate(-1deg); */
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.food-container {
    /* align-self: center; */
    flex: 1 1 20rem;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 30px;
    background-color: #3F4238;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px;
    align-self: normal;
    /* width: 251px;
    height: 337px; */
}

.food-container-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* background-color: #EFECD5; */
    margin: 20px 30px;
    padding: 10px 20px;
}

.food-img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 240px;
}

.food-img-view {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    align-self: center;
    width: 240px;
    height: 300px;
}

.food-name {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Forum', cursive;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: white;
}

.food-description {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.food-view {
    display: absolute;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    /* background-color: white; */
}

.food-name-view {
    font-size: 65px;
    align-self: center;
    /* margin-left: 330px; */
    font-family: 'Satisfy';
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: #582F0E;
    /* background-color: white; */
}

.food-description-view {
    font-size: 15px;
    margin-right: 40px;
    align-self: center;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 580;
    text-decoration: none;
    color: #582F0E;
}

.food-price-view {
    font-size: 25px;
    font-weight: 600;
    align-self: left;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #582F0E;
    margin-top: 10px;
    /* background-color: wheat; */
}

.food-desc-container {
    flex: 1 1 20rem;
    justify-content: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 30px;
    padding: 10px 20px;
}

.qty-box {
    margin-top: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qty-txt {
    font-size: 15px;
    font-weight: 500;
    align-self: left;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #582F0E;
}

.decrement-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    border: 0px;
    background-color: #F4D35E;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    /* margin-top: 10px; */
}

.increment-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    border: 0px;
    background-color: #F4D35E;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    /* margin-top: -40px;
    margin-lef: 140px; */
}

.qty-input {
    background-color: transparent;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-basket-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(214, 206, 147, 1);
    margin-top: 15px;
    width: 130px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    color: #582F0E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}