*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg-forgotpass{
    background-color: #f3b43e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 85%;
}


.container .rp-1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Tangerine', serif;
    font-size: 80px;
    font-weight: bold;
    color: #BC6C25;
    position: relative;
}

.container .rp-1::before{
    content: '';
    position:absolute;
    height: 3px;
    width: 30px;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 12px 0;
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
}

form .user-details .input-box{
    margin: 0 auto;
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box .details{
    font-family: 'Open Sans', 'semi bold';
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e8c02fdd;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #e8c02fdd;

}


form .submitbutton{
    height: 45px;
    margin: 45px 0;
    text-align: center;
}

form .submitbutton button{
    height: 100%;
    width: 20%;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: 1px solid #e8c02fdd;
    color: rgb(70, 64, 64);
    background-color: #e7d180dd;
}

form .submitbutton button:hover{
    background-color: #e8c02fdd;
}

a:link {
    text-decoration: none;
  }

  .text-success {
      text-align: center;
      color: green;
  }

  .danger{
      color: red;
  }

  .alert{
    text-align: center;
    color: green;
}


  